@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-montserrat: Montserrat;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-mid: 17px;
  --font-size-mini: 15px;
  --font-size-2xs: 11px;
  --font-size-smi: 13px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-11xl: 30px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-brown: #9f203b;
  --color-white: #fff;
  --color-whitesmoke: #ececec;
  --star-hover: rgba(123, 97, 255, 0.2);
  --color-mediumslateblue-100: rgba(123, 97, 255, 0);
  --color-ivory: #ffffed;
  --color-thistle: rgba(199, 195, 216, 0);
  --color-black: #000;
  --color-mediumseagreen-100: #3fb970;
  --color-mediumseagreen-200: #22a155;
  --color-gray: rgba(0, 0, 0, 0.6);
  --color-crimson: #e43b42;

  /* Gaps */
  --gap-xl: 20px;
  --gap-11xs: 2px;
  --gap-base: 16px;
  --gap-mid: 17px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-12xs: 1px;
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-9xl: 28px;
  --padding-11xl: 30px;
  --padding-sm: 14px;
  --padding-4xs: 9px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-3xs: 10px;
  --br-21xl: 40px;
  --br-xs: 12px;
  --br-9xs: 4px;
}
