.image12Icon {
  width: 202px;
  position: relative;
  border-radius: 5px;
  height: 127px;
  object-fit: cover;
}
.modalWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.poweredBy {
  height: 13px;
  position: relative;
  line-height: 130%;
  font-weight: 300;
  display: inline-block;
}
.letterLogo2 {
  width: 97px;
  position: relative;
  height: 12px;
  object-fit: cover;
  mix-blend-mode: normal;
  cursor: pointer;
}
.poweredByParent {
  width: 1440px;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}
.frameWrapper {
  align-self: stretch;
  padding: var(--padding-xl) 0;
}
.frameWrapper,
.image12Parent,
.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image12Parent {
  align-self: stretch;
  padding: 100px 0;
  gap: var(--gap-xl);
}
.rating {
  width: 100%;
  position: relative;
  background-color: var(--color-brown);
  height: 973px;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .poweredBy {
    font-weight: 300;
    font-family: var(--font-montserrat);
    font-size: var(--font-size-mid);
  }
}
@media screen and (max-width: 420px) {
  .poweredBy {
    font-weight: 100;
    font-family: var(--font-montserrat);
    font-size: var(--font-size-mini);
  }
  .letterLogo2 {
    width: 100px;
  }
  .image12Parent {
    gap: var(--gap-xl);
    align-items: center;
    justify-content: flex-start;
    padding-top: var(--padding-12xs);
    padding-bottom: var(--padding-12xs);
    box-sizing: border-box;
    margin-top: -150px;
  }
}
@media screen and (max-width: 350px) {
  .modalWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
